a {
  text-decoration: none;
  color: white;   
}

html {
  font-size: 14px;
}
.nav-link {
  padding: 7px 14px 7px 32px !important;
}
.navbar-brand {
  padding: 7px 14px 7px 32px !important;
}
.sidebar {
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #333333;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 20px;
}

.sidebar a {
  text-decoration: none;
  font-size: 20px;
  color: #5c636a;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: white;
}

.sidebar .closebtn {
  display: none;
}

#main {
  margin-left: 250px;
  padding: 20px;
  transition: margin-left .3s;
}

#buttonSideBar {
  display: none;
}

/* 
 * CSS Para telemoveis
 */
@media screen and (max-width: 992px) {
  .sidebar {
    width: 0; 
    padding-top: 60px;
  }

  .sidebar .closebtn {
    display: block;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .main-content {
    margin-left: 0px;
    padding: 20px;
    flex: 1;
  }
  .main-css {
    margin-left: 0px; /* same as sidebar width */
    padding: 20px;
  }

  footer {
    width: 100%;
    margin-left: 0px; /* same as sidebar width */
  }
  
  #buttonSideBar {
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    background-color: #666666;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-bottom: 15px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  max-width: 100%;
}

.audio-player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  padding: 10px;
  background: #333;
  color: #fff;
  border-radius: 5px;
}

button {
  background: #555;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

input[type="range"] {
  width: 100px;
}


.sidenav {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f8f9fa; /* light gray background */
  padding: 20px;
  overflow-x: hidden;
}

.form-group{
  margin-top: 12px;
}

@media screen and (min-width: 993px) {
  footer {
    display: flex;
    width: 100%;
    margin-left: 250px; /* same as sidebar width */
  }

  .main-content {
    margin-left: 250px;
    padding: 20px;
  }
}