    @model spitifi.Data.DbModels.Album

    @{ 
        ViewData["Title"] = "Create";
    }
    <body style="background-color: #666666">

    <h1>Criar um Albúm</h1>

    <h4>Album</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Titulo" class="control-label"></label>
                    <input asp-for="Titulo" class="form-control" />
                    <span asp-validation-for="Titulo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DonoFK" class="control-label"></label>
                    <input class="form-control" value="@ViewData["DonoNome"]" readonly/>
                    <span asp-validation-for="DonoFK" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Foto" class="control-label"></label>
                    <input type ="file" name="fotoAlbum" class="form-control" />
                    <span asp-validation-for="Foto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Musicas" class="control-label"></label>
                    <input type="file" name="musicasNovas" class="form-control"  multiple/>
                    <span asp-validation-for="Musicas" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Criar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Voltar</a>
    </div>

    </body>