@using SQLitePCL
@model spitifi.Models.DbModels.Album

@{
    ViewData["Title"] = "Delete";
}
<body style="background-color: #666666">
<h1>Apagar Albúm</h1>

<h3>Tem a certeza que pretende eliminar este albúm?</h3>
<div>
    <h4>Album</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" />
        <a asp-action="Index">Voltar atrás</a>
    </form>
</div>
</body>