@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmar o email";
}

<h1>@ViewData["Title"]</h1>
<h5>Obrigado por ter confirmado o seu email! Está oficialmente registado no nosso site</h5>
