@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email confirmado";
}

<h1>@ViewData["Title"]</h1>
<h5>Obrigado por ter confirmado o seu email! Está oficialmente registado no nosso site.</h5>
<h5>Já pode entrar na área de login e entrar na sua conta.</h5>