@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmar Email";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
    }
    else
    {
<p>
        Por favor confirme o email que acabámos de enviar.
</p>
    }
}

