@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using spitifi.Data
@using SQLitePCL
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!-- Import do contexto da BD feito aqui-->
@inject ApplicationDbContext Context

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        //procurar o utlizador na nossa BD para importar a foto escolhida por ele. Para isso também foi preciso importar a variavel global Context.
        var userContext = Context.Utilizadores.FirstOrDefault(u => u.Username == User.Identity.Name);
        var foto = userContext?.Foto;
        if (foto == null)
        {
            foto = "assets/icons/user.png";
        }
        
        <li class="nav-item">
            <div class="d-flex align-items-center">
                <img src="/@foto" width="25" height="25" class="mr-2"/>
                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    Olá @User.Identity?.Name!
                </a>
            </div>
        </li>
        if (User.IsInRole("Artista"))
        {
            var utilizadorContext = await Context.Utilizadores.FirstOrDefaultAsync(u => u.Username == User.Identity.Name);
            
            <li class="nav-item">
                <div class="d-flex align-items-center">
                    <img src="/assets/icons/user.png" width="25" height="25">
                    <a class="nav-link " asp-area="" asp-controller="Utilizadores" asp-action="Details" asp-route-id="@utilizadorContext.Id"
                       style="display: inline; font-size: 20px">Página Pública</a>
                </div>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <div>
                    <!--<a href="https://www.flaticon.com/free-icons/logout" title="logout icons">Logout icons created by SumberRejeki - Flaticon</a>-->
                    <img src="/assets/icons/logout.png" width="25" height="25">
                    <button type="submit" class="nav-link btn btn-link" style="display: inline; color: white; font-size: 18px">Terminar Sessão</button>
                </div>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <div>
                <!--<a href="https://www.flaticon.com/free-icons/add" title="add icons">Add icons created by Freepik - Flaticon</a>-->
                <img src="/assets/icons/add-user.png" width="25" height="25">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register" style="display: inline; color: white">Registar</a>
            </div>
        </li>
        
        <p></p>
        
            <li class="nav-item">
            <div>
                <!--<a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik - Flaticon</a>-->
                <img src="/assets/icons/user.png" width="25" height="25">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login" style="display: inline; color: white">Iniciar Sessão</a>
            </div>
        </li>
    }
</ul>